/* @import "tailwindcss"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

html {
  scrollbar-gutter: stable;
}

body {
  margin: 0;
  overflow: hidden;
}

::clone {
  visibility: hidden;
}

.ReactDnDPreview {
  display: none !important;
}

.preview-mode {
  background-color: #f8fafc;
  border-radius: 8px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

.edit-mode {
  background-color: #ffffff;
  border: 1px dashed #e2e8f0;
  border-radius: 4px;
}

.preview-mode * {
  cursor: default !important;
}

.preview-mode .drop-hint,
.preview-mode .drag-handle {
  display: none !important;
}

body .react-dnd-preview {
  display: none !important;
}

.drag-preview-image {
  display: none !important;
}
